$primaryColor: #ff9a36;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #cecece;
}

.container nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    padding: 1.3rem;
    font-size: 1.3rem;
    h3 {
        span {
            color: #ff9a36;
        }
    }
    ul {
        display: flex;
        li {
            padding: .5rem .5rem;
            list-style-type: none;
        }
    }
    .navbar-main-ul {
        li {
            margin: 0 1.5rem;
        }
    }
}

a {
    text-decoration: none;
    color: #000;
}

.nav-buttons-container {
    ul {
        li {
            padding: 0 1.2rem;
        }
    }
    .order-food-btn {
        background-color: $primaryColor;
        color: #fff;
        padding: .6rem;
        border-radius: .4rem;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }
    .login-btn {
        border: 2px solid $primaryColor;
        color: #000;
        border-radius: .4rem;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
        padding: .5rem;
    }
}

// MAIN CONTENT
.banner-photo {
    height: 100vh;
    background: url('jonathan-borba-8l8Yl2ruUsg-unsplashhhh.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2,
    p {
        color: #fff;
        font-size: 2.8rem;
        padding: 3rem 0;
        z-index: 55;
    }
    .banner-text-wrapper {
        z-index: 1000;
    }
}

.banner-title {
    span {
        color: $primaryColor;
    }
}

.banner-text {
    span {
        color: $primaryColor;
    }
}

.how-are-your-foods-ready {
    background-color: #eef0f6;
    margin: 0rem auto;
}

.cards {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 5em;
    padding: 4em 2em;
    margin: 0 auto;
    .card {
        box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.1);
        .card-content {
            font-size: 1.1rem;
            line-height: 1.7em;
            padding: 15px;
            background: #fff;
            text-align: justify;
        }
        .card-bottom {
            background: #f6f6f6;
            padding: 1em 1em;
            display: flex;
            align-items: center;
            a {
                background: $primaryColor;
                color: #fff;
                display: inline-block;
                padding: 1em 1em;
                border-radius: .4em;
                -webkit-border-radius: .4em;
                -moz-border-radius: .4em;
                -ms-border-radius: .4em;
                -o-border-radius: .4em;
            }
        }
    }
}

.card-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

.front-ur-house {
    color: $primaryColor;
}

.any-where {
    color: $primaryColor;
}

.about {
    height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    .love {
        color: $primaryColor;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        img {
            width: 45rem;
            height: 45rem;
        }
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 1.3em;
    }
    p {
        font-size: 1.5rem;
        text-align: justify;
        width: 68%;
    }
    .about-text-contant {
        margin-left: 3.2rem;
    }
    .magic-fg {
        color: $primaryColor;
    }
}

.about-s2 {
    height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    .container-s2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        img {
            width: 50rem;
            height: 50rem;
        }
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 1.3em;
        padding-right: 0;
    }
    p {
        font-size: 1.5rem;
        text-align: justify;
        width: 68%;
        padding-right: 0;
    }
    .about-text-contant-s2 {
        margin-left: 3.5rem;
    }
}

.comments {
    background-color: white;
    padding: 5em;
    .container {
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
    }
    .card {
        margin-bottom: 2em;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, min-max(300px, 1fr));
        grid-template-rows: auto;
        li {
            background: #f6f6f6;
            list-style-type: none;
            text-align: center;
            height: 100%;
            padding: 2em 1em;
            margin: 0 auto 5em auto;
            blockquote,
            cite {
                margin-top: 5rem;
            }
            cite {
                margin-top: 1.3rem;
                font-weight: bold;
            }
        }
        img {
            width: 5em;
            height: 5em;
            border: 5px solid $primaryColor;
            margin-top: -4em;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.contact {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    background: #f6f6f6;
    padding: 8rem;
    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }
    input,
    textarea {
        padding: .8em;
        margin-bottom: 1em;
        display: block;
    }
    input[type="submit"] {
        padding: 1em 1em;
        background-color: $primaryColor;
        border-radius: .3em;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 1em;
    }
}

.h2-contact {
    font-weight: bold;
    margin-bottom: 3em;
    font-size: 3em;
}

.mobile-view-nav {
    display: none;
}

// ---------------------------------------------------------- RESPONSIVE --------------------------------------------------------------
@media (max-width: 1196px) {
    .contact {
        .container {
            display: flex;
            flex-direction: column;
        }
        iframe {
            width: 20em;
            height: 30em;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 1420px) {
    .navbar {
        display: none;
    }
    header {
        background-color: #fff;
    }
    .mobile-view-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        .hamburger-menu {
            display: block;
            color: $primaryColor;
            font-size: 3rem;
        }
        span {
            color: $primaryColor;
        }
    }
    .banner-text-wrapper {
        text-align: center;
        padding: 1rem;
    }
    .about {
        background-color: #f6f6f6;
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 6rem 0;
            img {
                width: 25rem;
                height: 25rem;
                z-index: 900;
            }
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 1.3em;
            padding-right: 0;
        }
        p {
            font-size: 1.5rem;
            text-align: justify;
            width: 90%;
            padding-right: 0;
        }
        .love {
            color: $primaryColor;
        }
        .magic-fg {
            color: $primaryColor;
        }
    }
    .about-s2 {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        position: relative;
        .container-s2 {
            position: absolute;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin: 6rem 0;
            img {
                width: 25rem;
                height: 25rem;
            }
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 1.3em;
            padding-right: 0;
        }
        p {
            font-size: 1.5rem;
            text-align: justify;
            width: 90%;
            padding-right: 0;
        }
        .about-text-contant-s2 {
            margin: 2rem 0;
        }
    }
}

@media (max-width: 1120px) {
    .contact {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        background: #f6f6f6;
        padding: 8rem;
        label {
            display: block;
            font-size: 1.2em;
            margin-bottom: .5em;
        }
        input,
        textarea {
            padding: .8em;
            margin-bottom: 1em;
            display: block;
        }
        input[type="submit"] {
            padding: 1em 1em;
            background-color: $primaryColor;
            border-radius: .3em;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 1em;
        }
    }
    .h2-contact {
        font-weight: bold;
        margin-bottom: 3em;
        font-size: 3em;
    }
}

@media (max-width: 507px) {
    .comments {
        padding: 2em;
        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 1700px) {
    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 415px) and (max-width: 1405px) {
    .about {
        height: 150vh;
        .container {
            padding-right: 0;
        }
        p {
            margin: 0;
        }
    }
    .about-s2 {
        height: 180vh;
        .container-s2 {
            padding-right: 0;
        }
        p {
            margin: 0;
        }
    }
}

@media (min-width: 275px) and (max-width: 414px) {
    .banner-photo {
        text-align: center;
    }
    .about {
        .container {
            padding: 0;
        }
        p {
            margin: 0;
        }
        height: 150vh;
        img {
            width: 5rem;
            height: 5rem;
        }
        h2 {
            font-size: 2.3rem;
        }
        p {
            font-size: 1.3rem;
        }
        padding-right: 0;
    }
    .about-s2 {
        .container-s2 {
            padding-right: 0;
            img {
                padding: 0;
            }
        }
        height: 180vh;
        img {
            margin: 0 auto 0 auto;
            width: 2rem;
            height: 2rem;
        }
        .about-text-contant-s2 {
            margin: 0 auto 0 .3em;
            h2 {
                font-size: 2.3rem;
                margin: 0 auto 2.6rem auto;
            }
            p {
                font-size: 1.3rem;
                width: 80%;
            }
        }
    }
}